main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.contenedor{
    width:100% ;
    height: 50%;
   
    

  }
  .caja{
    color:rgb(107, 107, 161);
    font-size: 60px;
    font-family: Arial;
    font-weight: bolder;
    text-shadow:
        0 0 25px #FFF,
        0 0 10px #FFF,
        0 0 15px #FFF,
        0 0 20px #fd71b7,
        0 0 30px #fd71b7,
        0 0 40px #fd71b7,
        0 0 55px #fd71b7,
        0 0 75px #fd71b7;
  }
  .caja1{

    -webkit-transition: 4s ease ;
    transition: 4s ease ;
  }
  .caja1:hover{
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  .caja_1{
    color:rgb(35, 35, 83);
    font-size: 35px;
    font-family: Arial;
    font-weight: bolder;
    margin-top: 30px;
    text-shadow:
        0 0 25px #FFF,
        0 0 10px #FFF,
        0 0 15px #FFF,
        0 0 20px #fd71b7,
        0 0 30px #fd71b7,
        0 0 40px #fd71b7,
        0 0 55px #fd71b7,
        0 0 75px #fd71b7;
  }
  .caja7{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }