.tamañodeimagen {

    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 5%;



}

h2 {
    margin-left: 6%;
    margin-top: 12%;
    top: 12%;
    font-family: cursive;
    color:  rgba(21, 21, 56, 0.91) ;
}